body {
  font-family: "Poppins", sans-serif;
}

section {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
}


h1 {
  font-size: 2rem;
  font-weight: 600;
}


input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* Animated button effects */
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  border-color: #000;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

